<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>

  <body>
    <a href="/favorite" style="position: absolute; top: 10px; right: 10px"
      >my favorite</a
    >
    <h1>Hello you are logged in.</h1>
    <a href="{{url_for('logout')}}">Press here to logout</a>

    {% for artwork in artworks %}
    <div>
      <a href="{{ url_for('artwork_detail', artwork_id=artwork.id) }}">
        <img src="{{ artwork.image }}" alt="{{ artwork.title }}" />
        <h2>{{ artwork.title }}</h2>
        <p>by {{ artwork.artistName }}</p>
      </a>
    </div>
    {% endfor %}
  </body>
</html>
